# Sampling Notebook

Pada notebook ini akan dilakukan sampling terhadap data sebelum dilakukan labeling secara manual.

## 1. Import Libraries

Import library yang akan digunakan

In [1]:
import os
import numpy as np
import pandas as pd

from datetime import datetime

## 2. Load Dataset

Load data ke memmory menggunakan library pandas.

In [2]:
# Import data
data1 = pd.read_csv("../data/Crawling Twitter Jakarta 26 - 27.csv")
data2 = pd.read_csv("../data/Crawling Twitter Jakarta 25 - 23.csv")
data3 = pd.read_csv("../data/Crawling Twitter Jakarta 22 - 19 setengah.csv")

# Concating data
data = pd.concat([data1, data2, data3])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250279 entries, 0 to 91320
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Tanggal         250279 non-null  object
 1   Tweets          250279 non-null  object
 2   ID              250279 non-null  int64
 3   Screen Name     250279 non-null  object
 4   Banyak Retweet  250279 non-null  int64
 5   Source          250277 non-null  object
 6   Retweet Status  250279 non-null  int64
 7   Hashtags        250279 non-null  object
dtypes: int64(3), object(5)
memory usage: 17.2+ MB

## 2. Drop Duplicate

Menghapus data yang berduplikasi

In [3]:
data = data.drop_duplicates("Tweets")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70297 entries, 0 to 91316
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         70297 non-null  object
 1   Tweets          70297 non-null  object
 2   ID              70297 non-null  int64
 3   Screen Name     70297 non-null  object
 4   Banyak Retweet  70297 non-null  int64
 5   Source          70296 non-null  object
 6   Retweet Status  70297 non-null  int64
 7   Hashtags        70297 non-null  object
dtypes: int64(3), object(5)
memory usage: 4.8+ MB

## 3. Sampling

Dilakukan sampling menggunakan method `sample` dari library `pandas` sebanyak 700 data.

**Note** : Naikan banyak sample agar model yang dibuat lebih baik dan relevant terhadap banyak kasus

In [4]:
BANYAK_SAMPLE_DATA = 700
sample = data.sample(n=BANYAK_SAMPLE_DATA, random_state=2020)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 82886 to 4589
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Tanggal         700 non-null    object
 1   Tweets          700 non-null    object
 2   ID              700 non-null    int64
 3   Screen Name     700 non-null    object
 4   Banyak Retweet  700 non-null    int64
 5   Source          700 non-null    object
 6   Retweet Status  700 non-null    int64
 7   Hashtags        700 non-null    object
dtypes: int64(3), object(5)
memory usage: 49.2+ KB

## 4. Export Sample Dataset

Export sample dataset

In [5]:
os.makedirs("../output", exist_ok=True)

sample.to_csv(f'../output/{datetime.today().strftime("%Y-%m-%d")}_Sample Tweet.csv')