In [1]:
import numpy as np
import pandas as pd

In [3]:
# Import data
data1 = pd.read_csv('Crawling Twitter Jakarta 26 - 27.csv')
data2 = pd.read_csv('Crawling Twitter Jakarta 25 - 23.csv')
data3 = pd.read_csv('Crawling Twitter Jakarta 22 - 19 setengah.csv')
data = pd.concat([data1,data2,data3])

In [4]:
#Memilih data bukan retweet
tweet = data['Tweets'][data['Retweet Status']==0]

In [5]:
#Memilih data retweet lalu drop duplicates
retweet = data['Tweets'][data['Retweet Status']==1]
retweet = retweet.drop_duplicates()

In [6]:
tweet_drop = pd.concat([tweet,retweet])

In [8]:
tweet_drop

7        b'@MrsRachelIn Pemerintah harus tegas mengkara...
17       b'Pemerintah negara bagian New South Wales, Au...
18       b'Terus terang setiap sore,saya sangat berdeba...
30       b'banyak bgt rencana yang jd ada kalimat tamba...
32       b'Selama Pandemi Corona, Lelang Mobil Bekas Di...
                               ...
91233    b'RT @Airin_NZ: Tindak tegas mereka Pak @DivHu...
91248    b'RT @detikcom: Seorang laki-laki berusia 23 t...
91258    b'RT @detikcom: Nilai tukar rupiah terhadap do...
91293    b'RT @republikaonline: Dua wilayah tersebut su...
91295    b'RT @Aryprasetyo85: Alhamdulilah..mulia bnget...
Name: Tweets, Length: 71208, dtype: object

In [14]:
contoh = tweet_drop.sample(n=700)

In [15]:
contoh.to_csv('Sample Tweet.csv')