# Sampling Notebook

Pada notebook ini akan dilakukan sampling terhadap data sebelum dilakukan labeling secara manual.

## Import Libraries

Import library yang akan digunakan

In [1]:
import os
import pandas as pd

from datetime import datetime

## Load Dataset

Load data ke memmory menggunakan library pandas.

In [2]:
data = pd.concat(
    [
        pd.read_csv("../data/Crawling Twitter Jakarta 20 - 22.csv"),
        pd.read_csv("../data/Crawling Twitter Jakarta 23 - 25.csv"),
        pd.read_csv("../data/Crawling Twitter Jakarta 26.csv"),
    ]
)
data["tanggal"] = pd.to_datetime(data["tanggal"])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48985 entries, 0 to 24249
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   48985 non-null  object
 1   tweets    48985 non-null  object
 2   username  48985 non-null  object
 3   retweet   48985 non-null  int64
 4   source    48985 non-null  object
 5   hashtags  48985 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

## Drop Duplicate

Menghapus data yang berduplikasi

In [3]:
data = data.drop_duplicates("tweets")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48535 entries, 0 to 24249
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   48535 non-null  object
 1   tweets    48535 non-null  object
 2   username  48535 non-null  object
 3   retweet   48535 non-null  int64
 4   source    48535 non-null  object
 5   hashtags  48535 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.6+ MB

## Sampling

Dilakukan sampling menggunakan method `sample` dari library `pandas` sebanyak 700 data.

**Note** : Naikan banyak sample agar model yang dibuat lebih baik dan relevant terhadap banyak kasus

In [4]:
BANYAK_SAMPLE_DATA = 700
sample = data.sample(n=BANYAK_SAMPLE_DATA, random_state=2020)
sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 700 entries, 2969 to 6116
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tanggal   700 non-null    object
 1   tweets    700 non-null    object
 2   username  700 non-null    object
 3   retweet   700 non-null    int64
 4   source    700 non-null    object
 5   hashtags  700 non-null    object
dtypes: int64(1), object(5)
memory usage: 38.3+ KB

## Export Sample Dataset

Export sample dataset

In [5]:
os.makedirs("../output", exist_ok=True)

sample.to_csv(f'../output/{datetime.today().strftime("%Y-%m-%d")}_Sample Tweet.csv', index=False)